<!-- <p>sidebar works!</p> -->
<script src="src/Javascript/sidebar.js"></script>
<nav class="navbar navbar-inverse navbar-fixed-left" id="sidebar-wrapper" role="navigation">
    <app-menu></app-menu>
    <ul class="nav sidebar-nav">
      <li class="nav-item" ><a routerLinkActive="active" routerLink="" style="color: white"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>&nbsp;
      <li class="nav-item"><a routerLinkActive="active" routerLink="/org" style="color: white"><i class="fa fa-users" aria-hidden="true"></i>Organization</a></li>&nbsp;
      <li class="nav-item"><a routerLinkActive="active" routerLink="/abt" style="color: white"><i class="fa fa-info-circle" aria-hidden="true"></i>About</a></li>&nbsp;
      <li class="nav-item"><a routerLinkActive="active" routerLink="/src" style="color: white"><i class="fa fa-bars" aria-hidden="true"></i>Services</a></li>&nbsp;
      <li class="nav-item"><a routerLinkActive="active" routerLink="/con" style="color: white"><i class="fa fa-bars" aria-hidden="true"></i>Contact</a></li>&nbsp;


    </ul>
</nav>

